/* styles.css */
.map {
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px); /* Adjust cell width */
  gap: 2px; /* Adjust gap between cells */
  background-color: lightgray;
  padding: 10px;

}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px); /* Adjust cell width */
  gap: 2px; /* Adjust gap between cells */
}

.cell {
  width: 70px; /* Adjust cell width */
  height: 70px; /* Adjust cell height */
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mountain {
  background-color: #6D4C3D;
}

.treasure {
  background-color: gold;
  font-size: 12px;
}

.plain  {
  background-color: #8FE388;
  display: flex;
  flex-direction: column;
}

.cell.treasure.N {
  transform: rotate(0deg);
  display: flex;
  flex-direction: column;
}

.cell.treasure.E {
  transform: rotate(90deg);
  display: flex;
  flex-direction: column;
}

.cell.treasure.S {
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
}

.cell.treasure.W {
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
}

.body-icon {
  width: 50px;
  height: 50px;
}
